.header {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f9f9f9;
  padding: 10px;
}
.header__logo {
  object-fit: contain;
  height: 50px;
  width: 50px;
}
